body {
	margin: 0px 0px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background: #f2f2f2;
	color: rgba(0,0,0,0.7);
}

a:hover{
	text-decoration: none;
}

nav{
	background-color: rgba(0,0,0,0.5);
	font-weight: 300;
	letter-spacing: 0.4px;
	-webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.5);
}

.nav-bar{
	margin: 0px auto;
	width: 1200px;
	text-align: center;
}

.nav-bar ul{
	text-decoration: none;
	list-style: none;
	margin-bottom: 0px;
}

.nav-links-list{
	padding: 17px 30px;
}

.nav-link{
	font-family: 'Courgette', 'Lato', sans-serif;
	font-size: 1.8em;
	padding: 0px 15px;
	display: inline;
}

link:active, link:visited{
	text-decoration: none;
}

.nav-link a{
	color: white;
}
.nav-link a:hover{
	text-decoration: none;
}

.background-image{
  position: fixed;
  bottom:-80px;
  left: 0px;
  opacity: 0.5;
  z-index: -1;
}

.add-new{
	text-align: center;
	padding: 10px 0px;
	font-size: 1.5em;
	font-weight:400;
}

.authentication{
	text-align: right;
}
/* --------- DASHBOARD --------- */

.container {
	max-width: 860px;
	margin: 25px auto;
}

.box-style{
	background-color: white;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);
}

.client-container{
	padding: 10px 0px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.client-container:hover{
	cursor:pointer;
}

.clientName {
	margin-bottom: 3px;
	font-weight: bold;
}

.clientEmail {
	display: inline;
}
/*
.client-container {
	margin-left: 10px;
	display: flex;
	flex-direction: row;
	max-width: 600px;
	border-top-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-color:rgba(0,0,0,0.2);
/*	border-style: solid;
	border-width: 1px;
	padding-bottom: 5px;
}
*/
.client-container:last-child {
	border-bottom-style:none;
	border-width:1px;
	border-color:rgba(0,0,0,0.2);
}
.client-container:hover {
	background-color: #f5f8fa;

}

.clientImage {
	height: auto;
	width: auto;
	max-height: 100px;
	max-width: 100px;
	padding: 5px;
	border-radius: 10px 10px 10px 10px;
}

.clientInfo {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
}

/* --------- NEW CLIENT --------- */

.new-client-form{
	padding: 10px;
	text-align: center;
}

.client-input{
	margin-bottom: 7px;
	width: 45%;
	height: 2.5em;
	padding: 10px;
	font-size: 1.1em;
}

.client-form-submit{
	margin-top: 15px;
	font-size: 1.3em;
	text-align: center;
}

.client-form-submit input{
	background-color: rgba(66,136,204,0.9);
	color: white;
	border: none;
}

.client-form-submit input:hover{
	background-color: rgba(66,136,204,1);
}


/* --------- CLIENT PROFILE.BIO VIEW --------- */

.profile-container{
	max-width: 1100px;
	margin: 25px auto;
}

.bio{
	margin-right: 10px;
	padding: 0px;
}

.color-block {
	padding: 0px;
	height: 95px;
	width: 100%;
	background-color: rgba(41, 53, 101,0.8);
}


/* orange: rgba(255, 63, 13,0.6)*/
/* slate-blue: rgba(41, 53, 101,0.8)*/

.bio-container{
	padding: 15px 15px 0px 15px;
	position: relative;
}

.bio-image{
	margin: -50px 0px 0px 8px;
	background-color: white;
}

.bio-profile-main-info{
	position: absolute;
	top: 5px;
	left: 135px;
}

.bio-name{
	margin-bottom:2px;
}

.bio-profile-details{
	list-style: none;
	padding: 15px 12px 5px 5px;
}

.edit-bio{
	margin: 0px auto;
	border-top: 1px solid rgba(0,0,0,0.1);
	width: 90%;
	padding: 10px;
	text-align: center;
	font-weight: 400;
}

.authentication {
	margin-top: 5px;
}


/* --------- CLIENT PROFILE.BIO VIEW --------- */
.article-container div:hover {
	cursor: default;
	background-color: white;
}

.loading-gif{
	text-align: center;
}

.article{
	padding: 10px 20px;

}
.article-headline{
	font-size: 0.9em;
	margin-bottom: 5px;
}

.article-description{
	font-size: 0.8em;
}


