
<!-- <div ng-controller='NewClientController as newClientCtrl'> -->
<div class="container box-style">
	<form class="new-client-form" name='newClientForm'>
		<div class='row client-name-input'>
			<div class="col-sm-12">
				<h4>Name</h4>
				<input class="client-input" type='text' placeholder="e.g.  John Smith" ng-model='newClientCtrl.data.client_name'>
			</div>
		</div>
		<div class='row client-email-input'>
			<div class="col-sm-12">
				<h4>Email</h4>
				<input class="client-input" type='text' placeholder="name@company.com" ng-model='newClientCtrl.data.client_email'>
			</div>
		</div>
		<div class='row client-company-input'>
			<div class="col-sm-12">
				<h4>Company</h4>
				<input class="client-input" type='text' placeholder="Company" ng-model='newClientCtrl.data.client_company'>
			</div>
		</div>
		<div class='row client-company-input'>
		  <div class="col-sm-12">
		    <h4>Title</h4>
		    <input class="client-input" type='text' placeholder="Title" ng-model='newClientCtrl.data.client_title'>
		  </div>
		</div>
		<div class='row client-zipcode-input'>
			<div class="col-sm-12">
				<h4>Zipcode</h4>
				<input class="client-input" type='text' placeholder="e.g.  94105" ng-model='newClientCtrl.data.client_zipcode'>
			</div>
		</div>
		<div class='row client-birthday-input'>
			<div class="col-sm-12">
				<h4>Birthday</h4>
				<input class="client-input" type='date' ng-model='newClientCtrl.data.client_birthday'>
			</div>
		</div>
		<div class='row client-image-input'>
			<div class="col-sm-12">
				<h4>Image Url</h4>
				<input class="client-input" placeholder="http://website.com/image.png" type='text' ng-model='newClientCtrl.data.client_image'>
			</div>
		</div>
		<!--Currently not hooked up to any model attribute --> 
		<div class='row client-image-input'>
			<div class="col-sm-12">
				<h4>Interests</h4>
				<input class="client-input" placeholder="San Francisco 49ers" type='text'>
			</div>
		</div>
		<div class='row client-form-submit'>
			<div class="col-sm-12">
				<input class="client-input" type='submit' ng-show='newClientForm.$valid' ng-click='newClientCtrl.postClient()'>
			</div>
		</div>

	</form>
	<div class='successfulPostNotification' ng-show='newClientCtrl.succesfulPost'>
		New Client Successfully Added!
	</div>
<div>
<!-- </div> -->
