
<div class='client-wrapper container box-style'>
  <div class='client-container row' ng-repeat="client in dashboard.data.clients" ng-click="dashboard.storeClient($index)">
  	<div class="col-sm-2">
      <img class='clientImage' src='{{client.client_image}}'></img>
    </div>
    <div class="col-sm-10 client-text-summary clientInfo">
        <h4 class='clientName'>{{client.client_name}}</h4>
        <a href="mailto:alan@gmail.com" class='clientEmail'>{{client.client_email}}</a>
        <div class='clientTitle'>{{client.client_title}}</div>
        <div class='clientCompany'>{{client.client_company}}</div>
    </div>
  </div>
  <div class="add-new row client-container" ng-click="dashboard.addNew()">
    +
  </div>
</div>

